<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>优藏夹 - 一个简洁的网页收藏夹</title>
<link rel="stylesheet" href="/css/index.css">
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/webmark-1.0.js"></script>
<!--[if lt IE 7]>
    <script type="Text/Javascript" src="js/pngfix.js"></script>
    <script type="text/javascript">  
		DD_belatedPNG.fix('img,a,div,span, li');
	</script>
<![endif]-->
</head>

<body>

<div class="header">
	<div class="wrapper1">
		<div class="header-logo"><a href="/user/main.do"></a></div>
        <div class="header-nav">
        	<a href="#" class="header-nav-add header-nav-s"><span class="add-icon"></span></a>
        	<a href="#" class="header-nav-mail header-nav-s"><span class="mail-icon"></span><span class="mail-dot"></span></a>
        	<a href="#" class="header-nav-user header-nav-s"><img src="/img/user1.jpg" width="20" height="20" /><span class="mail-more"></span></a>
        	<div class="nav-add-menu">
            	<ul>
                	<li class="arrow"></li>
                    <li class="add-group"><a href="#"><span class="upload"></span>上传网址收录</a></li>
                    <li class="add-group add-group-line"><a href="#"><span class="addboard"></span>添加优夹</a></li>
                    <li class="add-group"><a href="#"><span class="goodies"></span>安装采集工具</a></li>
                </ul>
            </div>
            <div class="nav-user-menu">
            	<ul>
                    <li class="user-group add-group-line"><a href="#"><span class="mine"></span>我的优夹</a></li>
                    <li class="user-group"><a href="#"><span class="followingu"></span>我关注的人</a></li>
                    <li class="user-group"><a href="#"><span class="followingb"></span>我关注的优夹</a></li>
                    <li class="user-group add-group-line"><a href="#"><span class="follower"></span>我的粉丝</a></li>
                    <li class="user-group"><a href="#"><span class="setting"></span>账号设置</a></li>
                    <li class="user-group"><a href="javascript:doLogout();"><span class="logout"></span>退出登录</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="page">
	<div class="user-card">
    	<div class="user-photo"><a href="#" class="a-img1"><img src="img/user2.jpg" width="140" height="140" /></a></div>
        <div class="user-info">
        	<ul>
                <li class="user-info-1">${userdetail.ud_nickname}</li>
                <li class="user-info-2">
                <#if userdetail.ud_sex == '男'>
                <div><span class="userinfo-icon-f"></span>${userdetail.ud_sex}</div>
                <#else>
                <div><span class="userinfo-icon-m"></span>${userdetail.ud_sex}</div>
                </#if>
                <div><span class="userinfo-icon-a"></span>来自${userdetail.ud_comefrom}</div>
                <div><span class="userinfo-icon-w"></span>${userdetail.ud_job}</div>
                </li>
                <li class="user-info-3">${userdetail.ud_sign}</li>
                <li class="user-info-4">
                	<a href="#" class="a-btn1 followuser">关注</a><a href="#" class="a-btn2">发私信</a>
                </li>
            </ul>
        </div>
        <div class="user-num">
            <div class="user-num-follow"><a href="#" class="a-tit1">${followingcnt}<span><br />关注</span></a></div>
            <div class="user-num-fan"><a href="#" class="a-tit1">${followercnt}<span><br />粉丝</span></a></div>
        </div>
        <div class="wrapper2" style="display:none;">
        	<a href="#" class="report-user" title="举报用户"></a>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="tabs">
        <ul class="topmenu" id="topmenu">
            <li><a href="#">${clipcnt}优夹</a></li>
            <li><a href="#">${favocnt}收录</a></li>
            <!--<li><a href="#">26喜欢</a></li>-->
		</ul>
        <div class="tabs-set">
      		<a href="#" class="a-btn3">优夹排序</a>
        </div>
        <div class="wrapper3">
        	<div class="search">
            	<form method="post">
            		<input id="search-txt" class="search-txt" type="text" maxlength="60" placeholder="搜索TA的收录">
                    <input id="search-btn" class="search-btn" type="submit" title="搜索" value="">
        		</form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    
    <div id="container-clip" class="yjlist"></div>
    <div class="clear"></div>
    <div id="loaderCircle" class="nowloading"><span>正在加载&nbsp;…</span></div>
    <div id="nomore" class="nownomore">没有更多了</div>
    
</div>
<script type="text/javascript">
(function ($) {   
  var page = 0, isLoading = false;
  var totalPage = ${totalPage};
  $('#loaderCircle').hide();
  loadData();

  /**
   * When scrolled all the way to the bottom, add more tiles.
   */
  function onScroll(event) {
    // Only check when we're not still waiting for data.
    if(!isLoading) {
      // Check if we're within 100 pixels of the bottom edge of the broser window.
      var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 1);
      if(closeToBottom) {
          if (page < totalPage) {
              loadData();
          } else {
              $(window).unbind('scroll', onScroll);
              $('#nomore').show();
          }
      }
    }
  };

  /**
   * Loads data from the API.
   */
  function loadData() {
    isLoading = true;
    $('#loaderCircle').show(); 
    setTimeout(function() {
        $.ajax({
          type:'post',
          url: '/favoriteclip/clipList.json',
          dataType: 'json',
          data: {page: page}, // Page parameter to make sure we load new data
          success: onLoadData
        });
    }, 500);
    
  };

  /**
   * Receives data from the API, creates HTML for images and updates the layout
   */
  function onLoadData(data) {
      $('#loaderCircle').hide();
    // Create HTML for the images.
    
    var length=data.data.length, clip;
    for(var i=0; i<length; i++) {
      var html = '';
      clip = data.data[i];
      html += '<div class="yjboard">';
        html += '<div class="yjboard-pic">';
            //html += '<a class="yjboard-pic-1"></a>';
            //html += '<a class="yjboard-pic-2"></a>';
            //html += '<a class="yjboard-pic-3"></a>';
            for (var j=0; j<clip.fc_titlepage.length; j++) {
                if (j == 0) {
                    html += '<img src="http://localhost/image/' + clip.fc_titlepage[j] + '" width="241" height="179" class="yjboard-pic-1" />';
                } else {
                    html += '<img src="http://localhost/image/' + clip.fc_titlepage[j] + '" width="117" height="87" class="yjboard-pic-2" />';
                }
            }
        html += '</div>';
        html += '<div class="yjboard-con">';
            html += '<div class="yjboard-con-tit"><a href="/favoriteclip/clip.do?clipId=' + clip.fc_id + '" class="a-tit1">' + clip.fc_name + '&nbsp;<span>(' + clip.fc_favocnt + '收录)</span></a></div>';
            html += '<div class="yjboard-con-dy">' + clip.fc_desc + '</div>';
            html += '<a class="followyj a-btn4">关注</a>';
        html += '</div>';
      html += '<div class="clear"></div>';
      html += '</div>';
      $('#container-clip').append(html);
    }
    isLoading = false;
    page++;
  };
  $(window).bind('scroll', onScroll);
  
})(jQuery);
</script>
</body>
</html>
