<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>优藏夹 - 一个简洁的网页收藏夹</title>
<meta name="keywords" content="优藏夹,网页收藏夹,网址收藏,设计" />
<meta name="description" content="这是一个简洁的网页收藏夹，可以随时随地地点击您保存过的网址，再也不用担心更换浏览器啦！" />
<link rel="shortcut icon" href="/img/icon.ico" />
<link rel="icon" href="/img/icon.gif" type="/image/gif" />
<link rel="stylesheet" href="/css/login-reg.css">
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/login-reg.js"></script>
<script type="text/javascript" src="/js/webmark-1.0.js"></script>
<!--[if lt IE 7]>
    <script type="Text/Javascript" src="/js/pngfix.js"></script>
    <script type="text/javascript">  
		DD_belatedPNG.fix('img,a,div,span, li');
	</script>
<![endif]-->
</head>

<body>

<div class="header">
	<div class="header-1">
    	<div class="header-left fleft">
        	<a class="logo"></a>
        </div>
    </div>
</div>

<div class="login">
	<div class="login-nav">
    	<ul>
        	<li><a class="a-word" href="/user/login.do">登录</a></li>
            <li class="login-nav-1">注册</li>
        </ul>
    </div>
    <form action="/user/reg.do" onsubmit="return checkForm()" method="post">
	<div class="login-con">
    	<ul>
            <li class="login-con-txt"><span class="span1">邮箱/账号</span><input id="reg-email" name="email" class="input1" type="text" onblur="checkEmail(this.value, 'reg')"><span id="email_tip" class="span2">请输入您的注册邮箱</span><img id="corrent_img" style="display:none" class="correct" src="/img/correct.gif" width="18" height="17"></li>
            <li class="login-con-txt"><span class="span1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码</span><input id="reg-pwd1" name="password" class="input1" type="password" onblur="pwd1_blur(this.value)"><span id="pwd1_tip" class="span2">字母、数字或下划线</span></li>
            <li class="login-con-txt"><span class="span1">&nbsp;重复输入</span><input id="reg-pwd2" class="input1" type="password" onblur="pwd2_blur(this.value)"><span id="pwd2_tip" class="span2">请重复输入一次密码</span></li>
            <li class="login-con-3">
            	<input id="btn-reg" class="btn-login" type="submit" value="注&nbsp;册">已有账号？<a href="/user/login.do" class="a-word">登录</a>
            </li>
        </ul>
    </div>
    </form>
</div>

<div class="footer">
    <div class="f-nav"><a href="" target="_blank" class="a-word">关于我们</a><a href="" target="_blank" class="a-word">联系我们</a><a href="" target="_blank" class="a-word">使用帮助</a><a href="" target="_blank" class="a-word">友情链接</a></div>
    <span>© 2012-2013 优藏夹 京ICP备13031298号 京公网安备11010802012179</span>
</div>

</body>
</html>
