<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>收录到优藏夹</title>
<meta name="keywords" content="优藏夹,网页收藏夹,网址收藏,设计" />
<meta name="description" content="这是一个简洁的网页收藏夹，可以随时随地地点击您保存过的网址，再也不用担心更换浏览器啦！" />
<link rel="shortcut icon" href="/img/favicon.ico"/>
<link rel="icon" href="/img/favicon.gif" type="image/gif" />
<link rel="stylesheet" href="/css/shoulu.css">
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/shoulu.js"></script>
<!--[if lt IE 7]>
    <script type="Text/Javascript" src="js/pngfix.js"></script>
    <script type="text/javascript">  
		DD_belatedPNG.fix('img,a,div,span, li');
	</script>
<![endif]-->
</head>

<body>

<div class="shoulu">
	<div class="shoulu1">
    	<div class="record1">
        	<p class="p-name">优夹</p><div class="input-youjia">默认<div class="arrow"></div></div>
        </div>
    	<div class="record1">
            <p class="p-name">网址</p><input id="input-url" name="markurl" class="input-url" type="text" value="${url}">
        </div>
        <div class="record1">
            <p class="p-name">标题</p><input id="input-tit" name="marktitle" class="input-tit" type="text" size="20" value="${title}">
        </div>
        <div class="record2">
            <p class="p-name">描述</p><textarea id="input-des" name="markdesc" class="input-des" rows="2">${desc}</textarea>
        </div>
        <div class="record3">
        	<input id="btn-shoulu" class="btn-shoulu" type="submit" value="收&nbsp;录">
        </div>
    </div>
    <div class="youjiabox">
    	<div class="youjia-list">
        	<ul>
            	<li class="youjia-li youjia-li-on">默认</li>
            	<li class="youjia-li">【专题】Travel | 旅游</li>
            	<li class="youjia-li">【专题】Effect | 特效</li>
            	<li class="youjia-li">【UI】Interface | 界面</li>
            	<li class="youjia-li">【UI】Icon | 图标</li>
            	<li class="youjia-li">【UI】IOS | 移动</li>
        	</ul>
        </div>
        <div class="youjia-add">
        	<input id="input-add" class="input-add" type="text" size="30">
            <input id="btn-add" class="btn-add" type="submit" title="添加" alt="添加" value="">
        </div>
    </div>
</div>

</body>
</html>
