<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>收录到优藏夹 - 登录</title>
<meta name="keywords" content="优藏夹,网页收藏夹,网址收藏,设计" />
<meta name="description" content="这是一个简洁的网页收藏夹，可以随时随地地点击您保存过的网址，再也不用担心更换浏览器啦！" />
<link rel="shortcut icon" href="/img/favicon.ico"/>
<link rel="icon" href="/img/favicon.gif" type="image/gif" />
<link rel="stylesheet" href="/css/shoulu.css">
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/login-reg.js"></script>
<script type="text/javascript" src="/js/shoulu.js"></script>
<!--[if lt IE 7]>
    <script type="Text/Javascript" src="/js/pngfix.js"></script>
    <script type="text/javascript">  
		DD_belatedPNG.fix('img,a,div,span, li');
	</script>
<![endif]-->
</head>

<body>

<div class="main-shoulu">
	<div class="nav">
    	<ul>
        	<li class="nav-1">登录</li>
            <li><a class="a-word" href="shoulu-reg.html">注册</a></li>
        </ul>
    </div>
    <div class="con">
    <form method="post">
    	<ul>
        	<li class="login-con-txt"><span class="span1">邮箱/账号</span><input id="login-email" class="input1" type="text">
        	<span id="email_tip" class="span2">请输入您的注册邮箱</span>
            <li class="login-con-txt"><span class="span1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码</span><input id="login-pwd" class="input1" type="password">
            <span id="password_tip" class="span2">字母、数字或下划线</span>
            <li class="login-con-2">
            	<input type="checkbox" id="autologin" value="1" name="autologin" class="remember" tabindex="4" checked="checked">下次自动登录
                <a class="a-word foget" href="">忘记密码</a>
            </li>
            <li class="login-con-3">
            	<input id="btn-login" class="btn-login" type="button" value="登&nbsp;录">还没有账号？<a href="#" class="a-word">注册</a>
            </li>
        </ul>
    </form>
    </div>
</div>

</body>
</html>
