<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>优藏夹 - 一个简洁的网页收藏夹</title>
<link rel="stylesheet" href="/css/index.css">
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="/js/jquery.grid-a-licious.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/webmark-1.0.js"></script>
<!--[if lt IE 7]>
    <script type="Text/Javascript" src="/js/pngfix.js"></script>
    <script type="text/javascript">  
		DD_belatedPNG.fix('img,a,div,span, li');
	</script>
<![endif]-->
</head>

<body>

<div class="header">
	<div class="wrapper1">
		<div class="header-logo"><a href="/user/main.do"></a></div>
        <div class="header-nav">
        	<a href="#" class="header-nav-add header-nav-s"><span class="add-icon"></span></a>
        	<a href="#" class="header-nav-mail header-nav-s"><span class="mail-icon"></span><span class="mail-dot"></span></a>
        	<a href="#" class="header-nav-user header-nav-s"><img src="/img/user1.jpg" width="20" height="20" /><span class="mail-more"></span></a>
        	<div class="nav-add-menu">
            	<ul>
                	<li class="arrow"></li>
                    <li class="add-group"><a href="#"><span class="upload"></span>上传网址收录</a></li>
                    <li class="add-group add-group-line"><a href="#"><span class="addboard"></span>添加优夹</a></li>
                    <li class="add-group"><a href="#"><span class="goodies"></span>安装采集工具</a></li>
                </ul>
            </div>
            <div class="nav-user-menu">
            	<ul>
                    <li class="user-group add-group-line"><a href="#"><span class="mine"></span>我的优夹</a></li>
                    <li class="user-group"><a href="#"><span class="followingu"></span>我关注的人</a></li>
                    <li class="user-group"><a href="#"><span class="followingb"></span>我关注的优夹</a></li>
                    <li class="user-group add-group-line"><a href="#"><span class="follower"></span>我的粉丝</a></li>
                    <li class="user-group"><a href="#"><span class="setting"></span>账号设置</a></li>
                    <li class="user-group"><a href="javascript:doLogout();"><span class="logout"></span>退出登录</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="page">
	<div class="youjia-card">
		<div class="youjia-card-left">
        	<ul>
            	<li class="youjia-card-left1">
                    <div class="board-name">${clip.fc_name}</div>
                    <div class="board-category"><span>所属分类：</span><a href="#" class="a-tit2">UI设计</a></div>
                    <a class="followyj2 a-btn4">关注</a>
                </li>
                <li class="youjia-card-left2">${clip.fc_desc}</li>
            </ul>
        </div>
        <div class="youjia-num">
        	<div class="user-num-follow"><a href="#" class="a-tit1">107<span><br />收录</span></a></div>
        	<div class="user-num-fan"><a href="#" class="a-tit1">27<span><br />关注</span></a></div>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="tabs">
        <div class="user-unit">
            <a href="/user/main.do" class="a-tit1"><img src="/img/user3.jpg" />${user.u_detail.ud_nickname}</a>
        </div>
        <div class="tabs-set">
      		<a href="#" class="a-btn3">编辑优夹</a><a href="#" class="a-btn3">批量管理</a>
        </div>
        <div class="wrapper3">
        	<div class="search">
            	<form method="post">
            		<input id="search-txt" class="search-txt" type="text" maxlength="60" placeholder="搜索TA的收录">
                    <input id="search-btn" class="search-btn" type="submit" value="" title=""/>
        		</form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    
    <div id="container" class="yjlist">
		<div class="pin user_other_boards">
        	<div class="other_boards_title">该用户的其他优夹</div>
            <div class="cst-scrollbar">
                <#list cliplist as clip>
                <a href="/favoriteclip/clip.do?clipId=${clip.fc_id}" class="x">${clip.fc_name}<span>${clip.fc_favocnt}</span></a>
                </#list>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="loaderCircle" class="nowloading"><span>正在加载&nbsp;…</span></div>
    <div id="nomore" class="nownomore">没有更多了</div>
    
</div>
<script type="text/javascript">
$(function() {
  var page = 0, isLoading = false;
  var totalPage = ${totalPage}, clipId=${clipId};
  $('#loaderCircle').hide();
  
  loadData();

  function onScroll(event) {
    if(!isLoading) {
      var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 1);
      if(closeToBottom) {
          if (page < totalPage) {
              loadData();
          } else {
              $(window).unbind('scroll', onScroll);
              $('#nomore').show();
          }
      }
    }
  };

  function loadData() {
    isLoading = true;
    $('#loaderCircle').show(); 
    setTimeout(function() {
        $.ajax({
          type:'post',
          url: '/favorite/favolist.json',
          dataType: 'json',
          data: {"page": page, "clipId":clipId},
          success: onLoadData
        });
    }, 500);
    
  };

    function onLoadData(data) {
        $('#loaderCircle').hide();
        var boxes = new Array;
        var i=0, length=data.data.length, favo;
        for(; i<length; i++) {
            favo = data.data[i];
            var html = '<div class="pin">';
            html += '<div class="pin-img">';
            var imgname = favo.f_screenshot.substring(0, favo.f_screenshot.length - 4) + '_thum.jpg';
            html += '<a href="' + favo.f_url + '" class="a-img1" target="_blank"><img src="http://localhost/image/' + imgname + '" /></a>';
            html += '<a href="#" class="btn-zl pin-btn">转录</a>';
            html += '<a href="#" class="btn-xh pin-btn">喜欢</a>';
            html += '<a href="#" class="btn-ll pin-btn">浏览</a>';
            html += '</div>';
            html += '<a href="' + favo.f_url + '" class="pin-title a-tit1" target="_blank">' + favo.f_title + '</a>';
            html += '<div class="pin-pro">' + favo.f_desc + '</div>';
            html += '<div class="pin-icon">';
            html += '<span class="pin-icon-1">' + favo.cnt.f_howmanypopularity + '</span>';
            html += '<a href=""# class="pin-icon-2">' + favo.cnt.f_howmanylike + '</a>';
            html += '<a href=""# class="pin-icon-3">' + favo.cnt.f_howmanyreprint + '</a>';
            html += '</div>';
            html += '</div>';
            boxes.push($(html));
        }
        isLoading = false;
        page++;
        $("#container").gridalicious({width: 225, selector: '.pin'});
        $('#container').gridalicious('append', boxes);
    };
    $(window).bind('scroll', onScroll);
  
});
</script>
</body>
</html>
